<ion-content>
  <app-hero-back-menu [optionsBackMenu]="getOptionsBackMenu()"></app-hero-back-menu>
  <main class="o-container">
    <app-about-plant [aboutPlant]="getAboutPlant()"></app-about-plant>
    <app-images [images]="getDetailsImages()"></app-images>
    <app-features [features]="getFeatures()"></app-features>
    <app-temperatures [temperaturesStages]="getTemperatures()"></app-temperatures>
    <app-menu-options [options]="getOptionsMenu()"></app-menu-options>
    <!-- <app-diseases [diseases]="getDiseases()"></app-diseases> -->
    <!-- <app-stages [stages]="getStages()"> </app-stages>  -->

  </main>

</ion-content>